:root {
    --dark-text-color: #121214;
    --regular-text-color: #63656d;
    --light-text-color: #81838a;
    --lighter-text-color: #a6a8ad;
    --lightest-text-color: white;

    --border-color: rgb(200, 201, 204);

    --accent-color: #03f;

    --header-background-color: #121214;

    --mainsection-background-color: #fff;
    --mainsection-other-background-color: #fafafb;

    --footer-background-color: #121214;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    /* prettier-ignore */
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
html {
    font-size: 16px;
}

body {
    font-family: Inter;
}
.Header {
    display: flex;
    width: 100%;
    height: 56px;
    background-color: var(--header-background-color);
    align-items: center;
    padding: 0.625rem 1.25rem;
}
.HamburgerButton {
    background-color: inherit;
    border: none;
}
.HamburgerIcon {
    width: 24px;
    margin-right: 0.25rem;
}
.BrandLogoImage {
    display: block;
}
.BrandLogoText {
    display: none;
}

.Brand a {
    text-decoration: none;
    color: var(--lighter-text-color);
}
.NavBar {
    display: flex;
    width: 100%;
}
.LinkItem {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LinkList {
    display: none;
    list-style: none;
    padding: 0;
    margin-left: 1rem;
}

.RegisterList {
    display: flex;
    list-style: none;
    margin-left: auto;
    white-space: nowrap;
}
.RegisterList a {
    text-decoration: none;
    font-weight: 600;
    color: var(--lighter-text-color);
}
.LinkItem a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--lighter-text-color);
}
.LogIn {
    padding: 0.5rem 0;
}
.SignUp {
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
}
.SignUp a {
    display: inline-flex;
    color: var(--regular-text-color);
    font-weight: 500;
    padding: 0.5rem 1.25rem;
}
.CoverSection {
    display: flex;
    justify-content: center;
}
.Cover {
    display: flex;
    flex-direction: column;
    background-image: url(./images/cover.jpg);
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    flex: 1 1 50%;
    width: 100%;
    width: 1400px;
    height: 90vh;
}
.CoverTitle {
    color: var(--lightest-text-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}
.CoverText {
    max-width: 370px;
    line-height: 1.875rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--lightest-text-color);
    margin-top: 0;
}
.CoverInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1.5rem;
}
.CallToAction {
    background-color: var(--accent-color);
    color: var(--lightest-text-color);
    border: 0;
    border-radius: 0.5rem;
    padding: 0.875rem 2rem;
}
.CoverFooter {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(10, 10, 10, 0.8),
        rgba(10, 10, 10, 0.6) 45%,
        rgba(10, 10, 10, 0)
    );
}
.CoverFooterText {
    display: flex;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--lightest-text-color);
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}
.CoverFooterImage {
    margin-top: 0.5rem;
    width: 1rem;
}
.CoverFooterImage polygon {
    stroke: white;
    stroke-width: 2px;
}
.Cookies {
    position: sticky;
    bottom: 0;
    padding: 0.75rem 1.25rem;
    font-size: 0.875rem;
    color: white;
    display: flex;
    align-items: center;
    background-color: #303236;
}
.CookiesLearn {
    font-size: 0.875rem;
    color: white;
}
.CookiesButton {
    white-space: nowrap;
    font-size: 0.875rem;
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.375rem 1rem;
}

.MainSection {
    padding: 7.5rem 0;
}
.MainWrapper {
    margin: 0 auto;
    padding: 0 3.75rem;
    max-width: 1320px;
}
.MainGrid {
    display: grid;
    flex-direction: row;
    grid-gap: 7.5rem;
    column-gap: 7.5rem;
    row-gap: 7.5rem;
    align-items: center;
    margin: 0;
}
.OddGrid {
    grid-template-columns: 100%;
}
.EvenGrid {
    grid-template-columns: 100%;
}
.OddSection {
    background-color: var(--mainsection-background-color);
}
.EvenSection {
    background-color: var(--mainsection-other-background-color);
}
.LeftContentWriting {
    text-align: left;
}
.RightContentWriting {
}
.ContentTitle {
    color: var(--light-text-color);
    font-weight: 700;
    font-size: 0.75rem;
    margin-bottom: 1.875rem;
    text-align: right;
}

.ContentHeading {
    color: var(--dark-text-color);
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 0.625rem;
}

.ContentText {
    color: var(--dark-text-color);
    font-size: 1rem;
    margin-bottom: 1.875rem;
}

.ContentImage {
    max-width: 100%;
}
.CTASmaller {
    padding: 0.5rem 1.25rem;
}
.Brands {
    background-image: url(./images/brand-bg.webp);
    background-size: 100% 100%;
    padding: 2.5rem 0;
}
.BrandsWrapper {
    padding: 0 1.5rem;
    max-width: 1320px;
    margin: 0 auto;
}
.BrandsText {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: var(--lightest-text-color);
}
.BrandsTextItem {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}
.BrandsItems {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.BrandsItem {
    max-width: 180px;
    padding: 1.25rem;
}
.BrandImage {
    max-width: 100%;
}
.TestimonialsSection {
    padding: 7.5rem 0;
}
.TestimonialsWrapper {
    padding: 0 1.5rem;
    max-width: 1320px;
    margin: 0 auto;
}
.TestimonialsItems {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: flex-start;
    grid-gap: calc(2rem - 2px);
}
.TestimonialItem {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;
    width: 100%;
}
.TestimonialImage {
    flex: none;
    max-width: 140px;
    margin-right: calc(2rem - 2px);
}
.TestimonialImage img{
    max-width: 100%;

}
.TestimonialsTitle {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 3.75rem;
}
.TestimonialQuote{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}
@media only screen and (min-width: 496px) {
    .CoverInfo {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .BrandsWrapper {
        padding: 0 3.75rem;
    }
    .TestimonialsWrapper{
        padding: 0 3.75rem
    }
    .TestimonialImage{
        max-width: 12em;
    }
}
@media only screen and (min-width: 767px) {
    .LinkList {
        display: flex;
    }
    .Hamburger {
        display: none;
    }
    .CoverTitle {
        font-size: 4.5rem;
        font-weight: 900;
    }
    .CoverFooter {
        display: flex;
    }
}
@media screen and (min-width: 767px) and (max-width: 990px) {
    .OddGrid {
        grid-template-columns: 2fr 1fr;
        flex-direction: column;
    }
    .EvenGrid {
        grid-template-columns: 2fr 1fr;
        flex-direction: column;
    }
    .LeftContentImage {
        grid-column: 1 / span 2;
    }
    .RightContentImage {
        grid-column: 1 / span 2;
    }
}
@media only screen and (min-width: 990px) {
    .TestimonialsItems{
        grid-template-columns: repeat(3,1fr);
        grid-gap: 3.75rem;
        margin: -1.875rem;
    }
    .TestimonialImage{
        max-width: 100%;

        margin-right: 0;
    }
    .TestimonialsTitle{
        font-size: 2.25rem;
    }
    .TestimonialItem{
        flex-direction: column;
        align-items: normal;
        max-width: 360px;
    }
    .TestimonialContent{
        padding-left: 3.75rem;
    }
    .BrandsTextItem {
        flex-basis: 10%;
    }
    .BrandsItems {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .BrandLogoText {
        display: block;
    }
    .BrandLogoImage {
        display: none;
    }
    .RightContentWriting {
        text-align: right;
    }
    .OddGrid {
        grid-template-columns: minmax(30%, 1fr) minmax(auto, 720px);
        flex-direction: row;
    }
    .EvenGrid {
        grid-template-columns: minmax(auto, 720px) minmax(30%, 1fr);
        flex-direction: row;
    }
}
@media only screen and (min-width: 1320px) {
    .CoverInfo {
        margin: 0 auto;
    }
}
